:root {
    /* Colors */
    --color-text: #E5CAD3;
    --color-primary: #D9ABBC;
    --color-secondary: #AF8FA5;
    --color-dark: #9E768C;
    --color-bg: #D9ABBC;

    /* Fonts */ 
    --font-root: 'Roboto';
}

